<body>
<h1>Log In Below:</h1>
<form action="/login" method="POST">
  Email: <input type="text" name="email" placeholder="name@example.com"> 
  Password: <input type="password" name="password" placeholder="password"> 
  <input type="submit" value="LOGIN"><br><br>
</form>
  <a href="/"><button>&nbsp;HOME&nbsp;</button></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/signup"><button>&nbsp;SIGNUP&nbsp;</button></a>

</body>