<body>
<h1>Mountains Index</h1>
<ul>
<% @mountains.each do |mtn| %>
    <li><a href="/mountains/<%= mtn.id%>"><%= mtn.id %>. <%= mtn.name %> - <%= mtn.elevation %></a>
    </li>
<%end%>
</ul><br>
<a href="/mountains/new"><button>Add To Index</button></a><br><br>

</body>