<title>Summit Colorado - Add Mountain</title>
<form action="/mountains" method="POST">
  Name: <input type="text" name="name"><br>
  Elevation: <input type="text" name="elevation"><br>
  Summited? <input type="checkbox" name="summited"><br>
  <input type="submit" value="Add Mountain">
</form>