<h1>Mountain Show</h2>
<ol>
    <li>Name: <%= @mountain.name %></li>
    <li>Elevation: <%= @mountain.elevation %></li>
</ol>

<a href="/mountains/<%=@mountain.id%>/edit"><button>&nbsp;&nbsp;EDIT MOUNTAIN&nbsp;&nbsp;</button></a>

<form action="/summits/<%= @mountain.id %>" method="POST">
    <input type='submit' value="ADD TO PORTFOLIO">
</form>
