<h1>Mountain Show</h2>
<ul>
<li>ID: <%=@mountain.id%></li>
<li>Name: <%= @mountain.name %></li>
<li>Elevation: <%= @mountain.elevation %></li>
<li>Summit Status: <%= @mountain.summited ? "summited" : "not summited" %></li>
</ul>