<h1><%=@user.name.capitalize%>'s Portfolio</h1><br>
<% @mountains.each do |mtn| %>
<h3><%= "#{mtn.name} - #{mtn.elevation}" %></h3>
    <form action="/summits" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="mountain_id" value='<%="#{mtn.id}"%>'>
        <input type="hidden" name="user_id" value='<%="#{@user.id}"%>'>
        <input type="submit" value="Remove from portfolio">
    </form>
<%end%><br>

<a href="/mountains">Add to your portfolio</a>