<body>
<h1>Welcome to Summit Colorado</h1><br>
  <h4>Please Login Or Signup To Access Your Portfolio</h4><br>
  <a href="/login"><button>&nbsp;&nbsp;LOGIN&nbsp;&nbsp;</button></a>&nbsp;&nbsp;
  <a href="/signup"><button>&nbsp;&nbsp;SIGNUP&nbsp;&nbsp;</button></a>

</body>
